html{
    height: 100%;
}

body{
    background-image: url(elements/perdu-mer.jpg) ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;
}

h1, h2{
    font-family: 'Comfortaa', cursive;
    margin-left: 60px;
    margin-top: 0;
    padding-top: 20px;
    color: cadetblue;
    margin-bottom: 20px;
}

#titre{
    font-size: 3em;
}


#barres{
    width: 50%;
    margin-top: 50px;
    padding-bottom: 50px;
    font-family: 'Comfortaa', cursive;
}


#barres-lien{
 
}

#bulle{
 width: 100%;
 text-align: center;
 padding-top: 20px;
 padding-bottom: 20px;
 position: absolute;
 bottom: 0px;
 font-family: 'Comfortaa', cursive;
}

a{
    text-decoration: none;
    background-color: rgb(213, 255, 255);
    padding: 7px;
    opacity: 0.5;
    border-radius: 15px;
    color: black;
}



.SkillBar {
    width: 90%;
    height: 50px;
    position: relative;
    background: rgba(125, 134, 110, 0.3);
    margin: 20px auto;
}


.Skill-Area {

    float: left;
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    color: #fff;
    font-size: 18px;
}

.PercentText {

    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    color: #fff;
    font-size: 18px;
}



#Skill-perdue {
    width: 100%;
    animation: Animate-Perdue 4s;
    height: 50px;
    position: absolute;
    background-color: #ea8564;
}
@keyframes Animate-Perdue {
    from {
    width: 10px;
}
to {
    width: 100%}

}#Skill-Introuvable {
    animation: Animate-Introuvable 4s;
    width: 70%;
    height: 50px;
    position: absolute;
    background-color: #55a69f;
}
@keyframes Animate-Introuvable {
    from {
    width: 10px;
}
to {
    width: 70%}
}



#Skill-Lost {
    animation: Animate-Lost 4s;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: #99856d;
}
@keyframes Animate-Lost {
    from {
    width: 10px;
}
to {
    width: 40%}
}

#Paumée {
    animation: Animate-Paumée 4s;
    width: 60%;
    height: 50px;
    position: absolute;
    background-color: #9db144;
}
@keyframes Animate-Paumée {
    from {
    width: 10px;
}
to {
    width: 60%}
}